<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', path='js/main.js') }}">
       
    </script>
</head>
<body>
    <div class="content">
        <div class="item select-language">
            <form action="/type">
                <select class="lang" name="lang">
                    <option value="eng" {% if lang == 'eng' %}selected='selected'{% endif %}>Eng</option>
                    <option value="rus" {% if lang == 'rus' %}selected='selected'{% endif %}>Rus</option>
                </select>
            </form>
        </div>
        <div class="item text-block" id="text-block">
            {{ text }}
        </div>
    <div class="item container-right" id="container-right"></div>
    

    </div>
</body>
</html>