body {
    background-color: #2E303E;
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    
}
.content {
    color: white;
    display: grid;
    grid-template-areas: 
        "header header header"
        "lang text_area info"
        "footer footer footer";
    grid-template-rows: 5.5% 1fr 3.5%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}
/* .item {
    border: solid 1px white;
} */
.header {
    grid-area: header;
    background-color: #7b5994;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
/* .header-item {
    border: 1px solid white;
} */
.header-login {
    flex-basis: 30%;
    text-align: center;
    order: 3;
}
.header-3 {
    display: none;
}
.header-logo {
    flex-basis: 30%;
    text-align: center;
    letter-spacing: 8px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:#48a18a;
}
.footer {
    grid-area: footer;
    background-color: #54495c;
    color: #1f1a24;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer a {
    appearance: none;
    text-decoration: none;
    background-color: #54495c;
    color: #1f1a24;
    font-size: 14px;
}
.footer .year {
    margin: auto;
    width: auto;
    height: auto;
}
.text-block {
    margin-top: 160px;
    color: white;
    justify-self: center;
    max-width: 600px;
    min-width: 600px;
    grid-area: text_area;
}
.select-language {
    margin-top: 40px;
    grid-area: lang;
    justify-self: right;
}
.container-right {
    margin-top: 40px;
    grid-area: info;
}
p {
    margin: auto;
    width: 600px;
    height: 10px;
}
select {
    padding-right: 0px;
    appearance: none;
    background-color: #2E303E;
    color: white;
    border: none;
    outline: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: grid;
}

font {
    background-color: #BCAFFF;
    /* color: #AD8315; */
}